.card-header {
    background-color: rgb(46, 46, 46);
    border-bottom: 1.5px solid rgb(207, 207, 207);
}

.conteiner {
    background-color: #32b8cf;
}

.card {
    background-color: rgb(41, 41, 41);
}